<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fale Conosco</title>
    <link rel="stylesheet" href="cadastro.css" href="loja.css" />
  </head>
  <body>
    <main>
      <h1>Sejam Bem Vindos!</h1>
      <br />
      <form action="enviar_formulario.php" method="post">
        <fieldset>
          <p> 

          <label for="nome">Nome Completo:</label>
          
          <input type="text" id="nome" name="nome" required />
          </p><p> 
          <label for="nome">Data de Nascimento:</label>
          <input type="text" id="nome" name="nome" required /></p> 
          <p>
          <label for="nome">CPF:</label>
          <input type="text" id="nome" name="nome" required /></p>
          
          <label for="telefone">Telefone:</label>
          <input type="tel" id="telefone" name="telefone" required />
            <p>
          <label for="nome">Rua:</label>
          <input type="text" id="nome" name="nome" required />
              </p>
          <p>
          <label for="nome">Cidade/Estado:</label>
          <input type="text" id="nome" name="nome" required />
          </p>
          <label for="telefone">CEP:</label>
          <input type="tel" id="telefone" name="telefone" required />
          <p>
          <label for="nome">Senha:</label>
          <input type="text" id="nome" name="nome" required /></p>
          <p>
          <label for="nome">Confirme sua senha:</label>
          <input type="text" id="nome" name="nome" required />
          </p>
        </fieldset>
        <p></p>
        <input type="submit" value="Enviar" />
        
        <input type="reset" class="input-hover" value="Limpar" />
      </form>
      <a href="index.html">Página Inicial</a>
    </main>
  </body>
</html>
