<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="html,css,javascript">
    <title>ByteBank</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <nav><br>
        <ul class="menu">
           <li><a href="loja.html">ByteBank</a></li>
            <li><a href="faleconosco.html">Fale Conosco</a></li>
            <li><a href="cadastro.html">Crie Sua Conta</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;ByteBank</h1>
          <h2>Seu Banco Digital</h2>

        <div class="texto">
        </br>

        </br>
        </div>     
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        
    <footer>
        <p>&copy; <strong> Developer Tayling Ng e Nayara Bernardo </strong></p>
    </footer> 
   
</body>
</html>