<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <form class="login-form">
      <h1>Login</h1>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="cpf" id="cpf" name="cpf" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Entrar</button>
    </form>
    <div class="links">
      <a href="recuperarsenha.html">Esqueci a Senha</a>
      <a href="index.html">Página Inicial</a>
    </div>
  </div>
</body>
</html>
