<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha</title>
    <!-- Inclua seus estilos CSS aqui -->
  </head>
  <body>
    <header>
      <h1>Recuperar a Senha</h1>
    </header>

    <main>
      <form action="#" method="post">
        <label for="email">Digite o endereço de e-mail cadastrado:</label>
        <input type="email" id="email" name="email" required />
        <input type="submit" value="Enviar" />
      </form>
      <p>Um link de redefinição de senha será enviado para o seu e-mail.</p>
      <p>Qualquer problema <a href="faleconosco.html">Fale Conosco</a>.</p>
      <a href="index.html">Página Inicial</a>
    </main>

    <footer>
      <!-- Inclua informações adicionais ou links úteis aqui -->
    </footer>
  </body>
</html>
