<!DOCTYPE html>
<html lang="pr-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="faleconosco.css" href="sobre.css" />
  </head>
  <body>
    <main>
      <h1>Nossa História</h1>
      <h3>
        Criado pelas visionárias Nayara Bernardo e Tayling Ng, o BankHer é um banco digital revolucionário. Fundado com a missão de capacitar mulheres e promover igualdade de gênero, o BankHer oferece serviços bancários convenientes e uma plataforma de aprendizado vibrante. Com uma equipe diversificada, produtos inovadores e uma comunidade engajada, o BankHer vai além das finanças, tornando-se um símbolo de independência financeira e colaboração. Junte-se a nós e faça parte de uma revolução financeira inclusiva no BankHer. 
    <br>
    <br>
    Bem-vinda ao ByteBank, onde o futuro financeiro é feminino e inclusivo. Juntos, estamos construindo um legado de impacto e igualdade.
      </h3>
      <br />

      <a href="index.html">Página Inicial</a>
    </main>
  </body>
</html>
